<div id="features">
  <h2 class="text-center enter">
    {{ dp__('theme', 'heading', 'Coolest Features') }}
  </h2>
   <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-cpu-2"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'SkillPedia AI Generator') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Unlock limitless creativity with our AI-powered content generator.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-database-search"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'SEO Friendly') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Boost your visibility and reach your audience effectively with AI generated content.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-layout-dashboard"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Custom Templates') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Transform your content creation with AI-driven custom templates.') }}
      </p>
    </div>
  </div>
</div>
